<mat-toolbar color="primary">
  <nav>
    <a mat-raised-button color="accent" (click)="newRoom()">Nouvelle partie</a>
    <a mat-raised-button color="accent" (click)="deleteRooms()">Supprimer toutes les parties</a>
  </nav>
  <span></span>
  Bienvenue {{ username }}
</mat-toolbar>

<mat-card *ngIf="rooms">
  <p *ngIf="rooms.length === 0">Aucune partie en cours</p>
  <p *ngIf="rooms.length !== 0">Il y a actuellement {{ rooms.length }} parties</p>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let item of rooms" colspan="1" rowspan="1">
      <mat-card>
        <div class="info">{{ item }}</div>
        <mat-divider></mat-divider>
        <div class="info">Partie  en cours.</div>
        <mat-divider></mat-divider>
        <div class="info">
          <a mat-raised-button color="accent" [routerLink]="['/', 'join', item]" routerLinkActive="active">Rejoindre</a>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
