<div *ngIf="pile" class="table" cdkDropListGroup>

  <mat-grid-list cols="4" rowHeight=200px>

    <mat-grid-tile
        colspan="1"
        rowspan="4">
        <div class="area">
          <mat-card class="info">
            Pioche : {{ pile.draw.length }}
          </mat-card>
          <div cdkDropList id="draw"
            [cdkDropListData]="pile.draw"
            class="example-list pile"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of pile.draw"
              class="example-box" 
              appBackgroundImage="assets/cover-card.jpg"
              [id]="item.id" cdkDrag></div>
          </div>
        </div>

        <div class="area">
          <mat-card class="info">
            Défausse : {{ pile.discard.length }}
            <!-- <button (click)="renew()">Renew</button> -->
          </mat-card>
          <div cdkDropList id="discard"
            [cdkDropListData]="pile.discard"
            class="example-list pile"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of pile.discard" 
              class="example-box"
              appBackgroundImage="assets/cover-card.jpg" 
              [id]="item.id" cdkDrag></div>
          </div>
        </div>

        <!-- <div cdkDropList
          [cdkDropListData]="preview"
          cdkDropListOrientation="horizontal"
          class="example-list flex"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of preview" [appBackgroundImage]="item.image" [appBackgroundSprite]="item.sprite" cdkDrag></div>
        </div> -->
    </mat-grid-tile>

    <mat-grid-tile
        colspan="3"
        rowspan="1">
        <div class="area">
          <mat-card class="info">
            Plateau de {{ opponnent.username }}: {{ opponnent.plateau.length }}
          </mat-card>
          <div cdkDropList id="opponnent_plateau"
            [cdkDropListData]="opponnent.plateau"
            cdkDropListOrientation="horizontal"
            class="example-list flex"
            (cdkDropListDropped)="drop($event)"
            disabled>
            <div class="example-box" *ngFor="let item of opponnent.plateau" 
                [appBackgroundImage]="item.image"
                [appBackgroundSprite]="item.sprite"
                cdkDragDisabled="true" 
                [id]="item.id" cdkDrag></div>
          </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="3"
        rowspan="2">
        <div class="area">
          <mat-card class="info">
            Cartes jouées : {{ player.plateau.length }}
          </mat-card>
          <div cdkDropList id="plateau"
            [cdkDropListData]="player.plateau"
            cdkDropListOrientation="horizontal"
            class="example-list flex"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of player.plateau" 
                [appBackgroundImage]="item.image"
                [appBackgroundSprite]="item.sprite" 
                [id]="item.id" cdkDrag></div>
          </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="3"
        rowspan="1">
        <div class="area">
          <mat-card class="info">
            Cartes en main : {{ player.hand.length }}
          </mat-card>
          <div cdkDropList id="hand"
            [cdkDropListData]="player.hand"
            cdkDropListOrientation="horizontal"
            class="example-list flex"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of player.hand"
              [appBackgroundImage]="item.image"
              [appBackgroundSprite]="item.sprite" 
              [id]="item.id" cdkDrag></div>
          </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
