
/* 
mat-card {
  overflow: visible;
}
*/

mat-card {
  padding-top: 30px;
}

mat-card button {
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  /* overflow: visible; */
}

.pink button {
  background-color: pink;
}

.blue button {
  background-color: blue;
}
